footer {
        background-color: white;
        height: 60px;
        width: 100%; /*saame thing as 100% of width inherited from width*/
        text-align: center; /* horizontal align to center;*/
        line-height: 60px; /*height of text space equals height of footer box*/
	border-top: 1px solid #CCCCCC;

        overflow-x: none;
        /* position: absolute;
        bottom: 0; */
}
